.create-order {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.create-order .MuiStepIcon-root {
  color: #2196F3; 
}


.create-order .confirmation-message {
  color: #4CAF50; 
  font-size: 18px;
  font-weight: bold;
}


.create-order .button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

